@(artistForm: Form[Artist])
    @import helper._
    @layout("Create Artist"){
        <h1>Create Artist</h1>
        @helper.form(action = routes.ArtistController.save()){
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    @helper.inputText(artistForm("username"),'class -> "form-control",'placeholder->"user name",'_label ->"User Name",'type->"text",'info->" ")
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    @helper.inputText(artistForm("email"),'class -> "form-control",'placeholder->"Email",'_label ->"Email",'type->"Email")
                    </div>
                    <div class="form-group col-md-6">
                    @helper.inputText(artistForm("password"),'class -> "form-control",'placeholder -> "Password",'type->"password",'_label ->"Password")
                    </div>
                </div>
                <div class="form-group">
                @helper.inputText(artistForm("first_name"),'class -> "form-control",'placeholder -> "first name",'_label ->"First Name",'type->"text")
                </div>
                <div class="form-group">
                @helper.inputText(artistForm("last_name"),'class -> "form-control",'placeholder -> "last name",'_label ->"Last Name",'type->"text")
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    @helper.inputText(artistForm("age"),'class -> "form-control",'placeholder -> "age",'_label ->"Age",'type->"age")
                    </div>
                    <div class="form-group col-md-6 ">
                    @helper.inputText(artistForm("music"),'class -> "form-control",'placeholder -> "type of music",'_label ->"Type Of music",'type->"text")
                    </div>
                </div>
                <button class="btn btn-success col-12" type="submit" value="Create Artist" >Create Artist</button>
            </form>
            <br>

        }

    }

