@(artists : List[Artist])
@layout("All Artists") {
    <h1>All Artists</h1>
    @for(artist <- artists) {

        <div class="card col-lg-6 col-sm-6">
            <div class="card-body">
                <h5 class="card-title">@artist.username</h5>
                <h6 class="card-subtitle mb-2 text-muted">@artist.email</h6>
                <p class="card-text font-weight-bold">First name:
                    <span class="font-weight-normal">@artist.first_name</span>
                </p>
                <p class="card-text font-weight-bold">Last name:
                    <span class="font-weight-normal">@artist.last_name</span>
                </p>
                <p class="card-text font-weight-bold">Age:
                    <span class="font-weight-normal">@artist.age</span>
                </p>
                <p class="card-text font-weight-bold">Type music:
                    <span class="font-weight-normal">@artist.music</span>
                </p>
                <div class="btn-toolbar mb-6" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-6" role="group" aria-label="First group">
                        <a class="btn badge-success" href="@routes.ArtistController.show(artist.id)">view more</a>
                        <a class="btn badge-primary" href="@routes.ArtistController.edit(artist.id)">Edit</a>
                        <a class="btn badge-danger" href="@routes.ArtistController.delete(artist.id)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
