@(artist : Artist, songs: List[Song])
@layout(artist.username){
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h2> @artist.username</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">First name:
                            <span class="font-weight-normal">@artist.first_name</span>
                        </li>
                        <li class="list-group-item font-weight-bold">Last name:
                            <span class="font-weight-normal">@artist.last_name</span>
                        </li>
                        <li class="list-group-item font-weight-bold">Email:
                            <span class="font-weight-normal">@artist.email</span>
                        </li>
                        <li class="list-group-item font-weight-bold">Age:
                            <span class="font-weight-normal">@artist.age</span>
                        </li>
                        <li class="list-group-item font-weight-bold">Type music:
                            <span class="font-weight-normal">@artist.music</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Songs</th>
                        </tr>
                            <!-- go through the list of songs to compare the id with the artist class and extract the necessary information-->
                        @for(Song <- songs) {
                            @if( Song.artist == artist.id  ) {
                            </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@Song.id</th>
                            <td><iframe src="@Song.url" frameborder="0" allowfullscreen width="200" height="50"></iframe></td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>


            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success col-12" href="@routes.ArtistController.index()" value="Back">Back </a>
            </div>
        </div>
    </div>

}