@(songs : List[Song],artists: List[Artist] )
@layout("All Songs"){

    <h1>All Songs</h1>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title Song</th>
                <th scope="col">Artist name</th>
                <th scope="col">Options</th>
                <th scope="col">Play Song</th>
            </tr>
                <!-- This code travel the artist class and the song class to compare the data in common and extract the necessary information-->
            @for(song <- songs){
                @for(Artist <- artists){
                    @if(song.artist == Artist.id){
                    </thead>
        <tbody>
            <tr>
                <th scope="row">@song.id</th>
                <td>@song.title</td>
                <td>@Artist.first_name @Artist.last_name</td>
                <td>
                    <div class="btn-toolbar mb-6" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-6" role="group" aria-label="First group">
                            <a class="btn badge-danger" href="@routes.SongController.delete(song.id)">Delete</a>
                            <a class="btn badge-success" href="@routes.SongController.show(song.id)">view more</a>
                        </div>
                    </div>
                </td>
                <td>
                    <iframe src="@song.url" frameborder="0" allowfullscreen width="200" height="50"></iframe>
                </td>
            </tr>
        </tbody>

        }
        }

        }

    </table>
    <a class="btn badge-success col-lg-4 " href="@routes.SongController.create()">Upload Song!</a>




}


