@(songs : Song,artists: List[Artist])
@for(Artist <- artists){
    @if(Artist.id == songs.artist){
        @layout("About"){
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                <h2> @Artist.username</h2>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item font-weight-bold">First name:
                                    <span class="font-weight-normal">@Artist.first_name</span>
                                </li>
                                <li class="list-group-item font-weight-bold">Last name:
                                    <span class="font-weight-normal">@Artist.last_name</span>
                                </li>
                                <li class="list-group-item font-weight-bold">Email:
                                    <span class="font-weight-normal">@Artist.email</span>
                                </li>
                                <li class="list-group-item font-weight-bold">Age:
                                    <span class="font-weight-normal">@Artist.age</span>
                                </li>
                                <li class="list-group-item font-weight-bold">Type music:
                                    <span class="font-weight-normal">@Artist.music</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Songs</th>
                                </tr>
                                @for(Artist <- artists) {
                                    @if( Artist.id == songs.artist ) {


                                    </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">@songs.id</th>
                                    <td><iframe src="@songs.url" frameborder="0" allowfullscreen width="200" height="50"></iframe></td>
                                </tr>

                                }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success col-12" href="@routes.ArtistController.index()" value="Green">Back </a>
                    </div>
                </div>
            </div>

        }
    }
}
